<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v6.0" />
  </startup>
  <appSettings>
    <add key="System.Globalization.UseUserOverride" value="false" />
    <add key="System.Text.Encoding.UTF8" value="true" />
  </appSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Globalization.EnforceLegacyJapaneseDateParsing=false;Switch.System.Globalization.FormatJapaneseFirstYearAsANumber=false" />
  </runtime>
</configuration>